img/mhplot-a.tex
img/mhplot-b.tex
img/mhplot-c.tex
tex/auto/slides.el
tex/slides.aux
tex/slides.log
tex/slides.nav
tex/slides.out
tex/slides.snm
tex/slides.toc
tex/slides.vrb
tex/*.pdf
mod/H.dat
mod/g1.mat
mod/rbc.log
mod/rbc.m
mod/rbc/*
mod/rbc_CheckPlots1.eps
mod/rbc_HistoricalAndSmoothedVariables1.eps
mod/rbc_IRF_EfficiencyInnovation.eps
mod/rbc_Priors1.eps
mod/rbc_SmoothedShocks1.eps
mod/rbc_dynamic.m
mod/rbc_mode.mat
mod/rbc_params.mat
mod/rbc_pindx.mat
mod/rbc_results.mat
mod/rbc_set_auxiliary_variables.m
mod/rbc_static.m
mod/rbc_steadystate2.m
mod/rbcdataset.m
*~